body {
    background: fixed;
    background-color:#f5f0eb;
    border: 2px solid black;
    margin: 0;
}
#img-header {
    width: 350px;
    height: 100px;
}

.head {
    border:1px blue;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.head a {
    text-decoration: none;
    color: black;
    display: inline;
    justify-content: center;
    padding: 10px;
    padding-left:10px ;
    padding-right: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    margin-right: 10px;
}

.head a:hover {
    background-color:rgb(226, 235, 238);
    border: 1px black solid;

}

.head li {
    display: inline-block;
}

.h-text {   
    text-align: center;
    margin-top: 30px;
    background-image: url(lemfihomepage\ image.webp);
    background-position: right bottom ;
    background-repeat: no-repeat;
    background-size: auto 400px ;
    width: 100%;
    object-fit:contain;
}

#btn-1 {
    line-height: 18px;
    padding:10px ;
    width: 170px;
    height: 40px;
    border-radius:20px ;
    font-family:serif;
    border: 2px solid black;
    background-color: rgb(20, 195, 20); 
}
#btn-1:hover {
    background-color: lawngreen;
    border: 2px solid blue;
}

.h-h1 {
    font-family:cursive;
    font-size: 3rem;
}

.h-small {
    font-family: sans-serif;
    font-size: mediumSS;
}

.mid {
    text-align: center;
    margin-top: 20px;
}

#drop-down-input {
    height: 40px;
    border: 1px solid blue;
    border-radius:20px ;
    font-family:serif;
    background-color: #DFF5E3;
    
}

select:hover {
    background-color: rgb(10, 127, 229);
    border: 2px solid blue;
}

#country {
    font-family: monospace;
}

#tel {
   height: 30px;
   border-radius:20px ;
   font-family:serif;
   color: rgba(0, 0, 0, 0.983);
   font-size: medium; 
}

#tel:hover {
    background-color: rgb(193, 220, 244);
    border: 2px solid rgb(181, 181, 255);
} 

option:hover {
    color: blueviolet;
    border: 1px black;

}

.pg-end {
  text-align: center;
  background-color: rgb(205, 255, 255); 
  padding: 13px;  
  border: 1px black solid;
}
.page2-body {
    border-bottom: 1px solid black;
}

marquee{
    background-color: #f5f5f5;
    text-transform: capitalize;
    padding: 9px;
    box-sizing: border-box;
    border: rgba(34, 34, 34, 0.248) 1px solid;
}

#sellect-top {
    border: 2px lightblue solid;
    border-radius: 27px;
    margin-top: 10px ;
    margin-left:-12px;
    padding: 5px;
    font-family:serif;

}

#sellect-top:hover {
    background-color:rgb(226, 235, 238);
    border: 1px black solid;
}

#sel-inp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    gap: 20px;
}
#btn {
    margin-left: 44%;
    line-height: 18px;
    padding:7px ;
    height: 30px;
    border-radius:20px ;
    font-family:serif;
    border: 2px solid black;
    background-color: rgb(20, 195, 20); 
}
#btn:hover {
    background-color: lawngreen;
    border: 2px solid blue;
}

.page2 {
    text-align: center;
}

#page2-h1 {
    font-size: 2.5rem;
    font-family: 'Fredoka one',cursive;
    font-style: normal;
}

.page2-h3 {
    font-size:1.5rem;
}

.page2-text001 {
    display: flex;
    line-height: 30px;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.page2-text001 img {
    width: 500px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}

#sidetext {
    max-width: 400px;
}

.page2-text002 {
    display: flex;
    line-height: 30px;
    align-items: center;
    justify-content:center;
    gap:60px;   
}

.sidetext-001 {
    font-size: 18px;
    text-align: left;
    max-width: 700px;
    margin: 0;
}


.img-side001 img {
    width: 600px;
    border: 1px solid black;
    height: 400px;
    border-radius: 8px;
}

.button-all {
    line-height: 18px;
    padding:7px ;
    height: 30px;
    width: 130px;
    border-radius:20px ;
    font-family:serif;
    border: 2px solid black;
    background-color: rgb(20, 195, 20);
}

.button-all:hover {
    background-color: lawngreen;
    border: 2px solid blue;
}

.page2-text003 {
    display: flex;
    line-height: 30px;
    align-items: center;
    gap: 60px;
    justify-content: center;
}

.page2-text003 img {
    width: 500px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
}

.page2-text004 {
    display: flex;
    line-height: 30px;
    align-items: center;
    justify-content:center;
    gap:60px;   
}

.sidetext-003 {
    font-size: 18px;
    text-align: left;
    max-width: 700px;
    margin: 0;
}

.img-side002 img {
    width: 500px;
    border: 1px solid black;
    height: 400px;
    border-radius: 8px;
}

.page3-body {
    border-bottom: 1px solid black;
    background-color: rgb(17, 16, 16);
    padding: 5px;
    color: white;
    background-image: url(page3-body.png);
    background-repeat: no-repeat;
    background-position:  center;
    height: 400px;
    box-sizing: border-box;
}

#page3-first-text {
    margin-left: 30px;
}
#page3-first-text h1 {
    font-family:  'Fredoka one',cursive; 
    text-align: center;
    color: rgb(220, 1, 220);
}

#page4 {
    border-bottom: 1px solid black;
    height:500px;
}

#page5-body {
    height: 300px;
    border-bottom: 1px solid black;
}

#page5-text01{
    text-align: left;
    line-height: 20px;
    font-weight: 400;
    font-size: medium;
    margin-left: 20px;

}

#page5-text2 {
    line-height:20px ;
     margin-left: 20px;
}

.anchors {
    columns: 4;
    column-gap: 50px;
    list-style: disc;
    padding: 0;
}

.page6-body {
     border-bottom: 1px solid black;
    background-color: rgb(17, 16, 16);
    padding: 40px;
    color: white;
    box-sizing: border-box;
}
.page6-body h1 {
    font-family:  'Fredoka one',cursive; 
    text-align: center;
    color: rgb(220, 1, 220);
}
    
.anchors a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: block;
    font-family: serif;
}

.btn-anchor {
    line-height: 18px;
    padding:8px ;
    height: 36px;
    width: 100px;
    border-radius:20px ;
    font-family:serif;
    border: 2px solid black;
    background-color: rgb(20, 195, 20);
}
.btn-anchor:hover {
    background-color: lawngreen;
    border: 2px solid blue;
}

.foot {
    background-color:#c47dc4e7 ;
    height: 200px;
    border: 1.5px solid magenta;
    padding: 20px;
}

#foot-text {
    font-size: 1.8rem;
    text-align: center;
    line-height: 35px;
    font-weight: 600;
}

#btn-foot {
    line-height: 18px;
    margin-left: 43%;
    padding:10px ;
    width: 170px;
    height: 40px;
    border-radius:20px ;
    font-family:serif;
    border: 2px solid black;
    background-color: rgb(20, 195, 20);
}
#btn-foot:hover {
    background-color: lawngreen;
    border: 2px solid blue;
}

#foot-text2 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 20px;
}

#email-foot {
    height: 36px;
    width: 300px;
    padding-left: 10px;
    gap: 60px;
    border-radius: 18px;
}

#email-foot:hover {
    background-color: rgb(193, 220, 244);
    border: 2px solid rgb(181, 181, 255);
} 


#subscribe {
    line-height: 18px;
    padding:10px ;
    width: 170px;
    height: 40px;
    border-radius:20px ;
    font-family:serif;
    border: 2px solid black;
    background-color: rgb(20, 195, 20);
}

#subscribe:hover {
    background-color: lawngreen;
    border: 2px solid blue;
}

#img-foot {
    height: 50px;
    width: 200px;
    margin-left: 15px;
}

#select-foot {
    border: 2px lightblue solid;
    border-radius: 27px;
    margin-top: 10px ;
    margin-left:30px;
    padding: 5px;
    font-family:serif;

}

#select-foot:hover {
    background-color:rgb(226, 235, 238);
    border: 1px black solid;
}

#ff {
    margin-left: 60%;
}
#copy {
    text-align: center;
    font-size: 1.2rem;
    font-family: serif;

}

